body {
    text-align: center;
}

h2 {
    color: yellow;
}

.container {
    display: flex;
  }

.canvas {
    margin-top: -30px;
}



  #multi { 
    width: 50%;
    height: 100px;
    border-style: solid;
    border-width: 2px;
    background-image: 
    linear-gradient(141deg, #0fb8ad 0%, #1fc8db 51%, #2cb5e8 75%);
  }

  #lives {
    margin-top: 5px;
    width: 50px;
    height: 50px;
    background-image: url("../images/heart.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 50px 50px;
  }

  #livesContainer {
    justify-content: center;
    margin-left: auto;
    margin-right: auto;

  }
  
  #streak {
    width: 50%;
    height: 100px;
    border-style: solid;
    border-width: 2px;
    background-image: 
    linear-gradient(141deg, #0fb8ad 0%, #1fc8db 51%, #2cb5e8 75%);
  }

#stats {
    margin: auto;
    width: 500px;
    height: 100px;
    z-index: -3;
    border-radius: 50px 50px 5px 5px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#boy {
    height: 250px;
    width: 33%;

}


#boy:hover, #princess:hover, #catGirl:hover {
    cursor: pointer;
    animation-name: lightGlowing;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    background-color: greenyellow;
}

#princess {
    height: 250px;
    width: 33%;
}

#catGirl {
    height: 250px;
    width: 33%;
}
.fadeOut {
    animation-name: fadeOut;
    animation-duration: 5s;
    animation-iteration-count: 1;
}

@keyframes fadeOut {
    0% {opacity: 1;}
    100% {opacity: 0;}
 }

@keyframes lightGlowing {
    50% {   
          -ms-transform: scale(1.01, 1.01); /* IE 9 */
          -webkit-transform: scale(1.01, 1.01); /* Safari */
          transform: scale(1.01, 1.01);
          box-shadow: 1px 1px 1px black; 
       }
    100% {   
          -ms-transform: scale(1.02, 1.02); /* IE 9 */
          -webkit-transform: scale(1.02, 1.02); /* Safari */
          transform: scale(1.02, 1.02);
          box-shadow: 2px 2px 2px black; 
    }
}